{{#partial "title"}}
    Change Output
{{/partial}}

<!--form.hbs-->
{{#partial "content"}}

<h1>Fill in your cash total that you want change for.</h1>
<form action='/changeOut'>
 <div class="form-group">
    <label for="inputName">Enter Name</label>
    <input id="inputName" name="inputName" class="form-control" type="text">
   <label for="totalCash">Total Cash Entered</label>
   <input id="totalCash" name="totalCash" class="form-control" type="text">
 </div>
 <button type="submit" class="btn">Go!</button>
</form>
<!--form.hbs.-->
{{/partial}}

{{> layout.hbs}}